/* Overarching CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --spotifyGreen: #1DB954;
}

body{
  margin: 0;
  background-color: #121212;
  color: white;
  font-family: 'Montserrat';
}

a{
  text-decoration: none;
  color: var(--spotifyGreen);
}

a:hover{
  color: white;
}

h1{
  font-weight: 400;
}

.App {
  /* Add the following property */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
}

header {
  /* Add the following properties */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  border: 2px solid pink;
}

/*
.App {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 2px solid blue;
}
*/

.title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
  z-index: 1;
}
.title svg {
  margin-left: 0.5rem;
}

.StyledLoginButton {
  background-color: var(--spotifyGreen);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.StyledLogoutButton {
  background-color: var(--spotifyGreen);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.StyledLogoutButton:hover{
  background-color: #b3b3b3;
}

.login-container {
  bottom: -50;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.top-artists {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.search-bar {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid-container {
  top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.grid-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(33.33% - 10px);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid green;
  box-sizing: border-box;
  pointer-events: none;
}


/* PROFILE COMPONENT */
.prof-title{
  color: var(--spotifyGreen);
}


.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: inherit;
}


.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.dropdown-toggle {
  background-color: var(--spotifyGreen);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  z-index: 1;
}

.dropdown.visible .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #1DB954;
}
