/* Overarching CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --spotifyGreen: #1DB954;
}

body{
  margin: 0;
  margin-top: 1rem;
  background-image: url("/static/wavesbg2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #121212;
  color: white;.create-playlist-button {
    display: inline-block;
    white-space: normal;
    background-color: var(--spotifyGreen);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    margin-left: .75rem;
    margin-right: .75rem;
    cursor: pointer;
    width: 26%;
    word-wrap: break-word;
  }
  
  .create-playlist-button:hover{
    background-color: gold;
    color: black;
  }
  
  .create-playlist-button:active{
    background-color: white;
  }

}

a{
  text-decoration: none;
  color: var(--spotifyGreen);
}

a:hover{
  color: white;
}

h1{
  font-weight: 400;
}

ul{
  list-style: none;
}

li{
  list-style: none;
}

.App {
  /* Add the following property */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
  width: 100%;
}

header {
  /* Add the following properties */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

/* NAVBAR COMPONENTS */
.navbar-avatar{
  width: 50px;
  border-radius: 50px;
}


.title {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  width: 100%;
  position: relative;
  z-index: 1;
}

.title svg {
  margin-left: 0.5rem;
}

#spotify-logo{
  margin-left: .5rem;
  color: var(--spotifyGreen)
}

.StyledLoginButton {
  background-color: var(--spotifyGreen);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0.5rem;
}

.StyledLogoutButton {
  background-color: var(--spotifyGreen);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.StyledLogoutButton:hover{
  background-color: #b3b3b3;
}

.login-container {
  bottom: -50;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0.5rem;
}

.top-artists {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.search-bar {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid-container {
  top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.grid-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(33.33% - 10px);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* border: 5px solid green; */
  box-sizing: border-box;
  pointer-events: none;
}


/* PROFILE COMPONENT */
.prof-title{
  font-weight: 500;
  color: var(--spotifyGreen);
  margin-right: .25rem;
}


.nav {
  display: flex;
  justify-content: space-around;
  /* align-items: center;
  margin-left: auto;
  width: inherit; */
}


.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.dropdown-toggle {
  /* background-color: var(--spotifyGreen); */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: .5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  margin-left: 10px;
  z-index: 1;
  border-radius: 5px;
  margin-top: .75rem;
}

.dropdown.visible .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* .dropdown-content a:nth-child(5){
  color: gold;
}

.dropdown-content a:nth-child(5):hover{
  color: white;
} */

/* .ellipsis-dropdown-content a{
  color: red;
}

.ellipsis-dropdown-content li:last-child:hover{
  background-color: red;
  color: black;
} */

.dropdown-content a:last-child{
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #1DB954;
}

.dropdown-content a:active{
  background-color: gold;
  color: black;
}

.dropdown-content a:last-child:hover{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-content a:last-child:active{
  background-color: red;
  color: black;
}

#prompt-outer-container{
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 1.75rem; */
}

.prompt-container {
  display: flex;
  width: 80%;
  height: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border: 1px solid blue;
}

.prompt-element {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.messages {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.chatgpt-message {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: black;
  background-color: white;
  border: 1px solid white;
}

.user-message {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: blue;
  border: 1px solid blue;
}

/* PlaylistType & AI Prompt Styling */
.playlist-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.options-title {
  margin-top: 1.75rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-shadow: 1px 1px 10px rgb(5, 5, 5);
}

.pro-option {
  background-color: #242424;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding: 20px;
  width: 75%;
  box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.5);
  font-size: .9rem;
}

.option {
  background-color: #242424;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding: 20px;
  width: 75%;
  box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.5);
}

.options {
  background-color: #242424;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding: 20px;
  width: 100%;
  box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.5);
}

.option:hover {
  transform: scale(1.01);
  box-shadow: 0 0 15px rgba(29, 185, 84, 0.3);
  cursor: pointer;
}

.options:hover {
  transform: scale(1.01);
  box-shadow: 0 0 15px rgba(29, 185, 84, 0.3);
  cursor: pointer;
}

.option h3, .pro-option h3 {
  margin-bottom: .35rem;
  color: var(--spotifyGreen);
}

.prompt-options {
  background-color: #242424;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding: 20px;
  width: 97.5%;
  color: #B3B3B3;
  font-size: .8rem;
}

/* .prompt-options:last-child {
  margin-bottom: .25rem;
} */

.prompt-options:hover{
  cursor: pointer;
  /* transform: scale(1.01); */
  color: gold
}

.options.with-arrow, .prompt-options.with-arrow {
  position: relative;
}

.with-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #777777;
  padding-right: .5rem;
}

/* PlaylistType & AI Prompt Styling Ends here */

/* Playlist/Discover Toggle Styling */
.toggle-button {
  display: flex;
  justify-content: space-between;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.toggle-option {
  flex-grow: 1;
  padding: 10px 20px;
  border: 2px solid var(--spotifyGreen);
  background-color: #242424;
  color: #B3B3B3;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat';
  font-size: .9rem;
}

.toggle-option.selected {
  background-color: #1DB954;
  color: #FFFFFF;
}
/* Playlist/Discover Toggle Styling ends here */

/* PLAYLISTS COMPONENT ELEMENTS*/

#content-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#outer-pl-container{
  border: 1px solid blue;
}

#pl-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

#successfulpl-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-top: 1.7rem;
}

#successful-only{
  margin-bottom: 2.5rem;
}

#view-all{
  margin-bottom: 2.5rem;
}

#new-pl-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#pl-discover-toggle-container{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.pl-thumb{
  width: 75%;
  margin-bottom: 3rem;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.5);
}

.pl-thumb:last-child{
  margin-bottom: 8rem;
}

.pl-thumb-name, .disc-thumb-name{
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  background-color: #242424;
  padding: 1rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: var(--spotifyGreen);
  text-shadow: 1px 1px 4px rgb(5, 5, 5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pl-thumb-name a{
  color: var(--spotifyGreen);
  /* border-bottom: 1px solid transparent */
}

.pl-thumb-name a:hover{
  color: white;
  /* border-bottom: 1px dotted var(--spotifyGreen); */
  transition: 0.35s
}

/* .disc-thumb-name{
  color: gold;
}

.disc-thumb-name a{
  color: gold
}

.disc-thumb-name a:hover{
  color: white;
  transition: 0.35s
} */

.pl-thumb-data-container{
  display: flex;
  border-left: 4px solid #242424;
  border-right: 4px solid #242424;
  background: rgb(36,36,36);
  background: linear-gradient(180deg, rgba(36,36,36,1) 0%, rgba(18,18,18,1) 3%);
}

.pl-thumb-img{
  display: flex;
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  border-top-left-radius: 5px;
  background-color: #121212;
  opacity: 90%;
}

.pl-thumb-img img{
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}

.separator-container{
  display: none;
  justify-content: center;
}

.separator{
  width: 85%;
  border: 1px solid #242424;
}

.pl-thumb-tracks{
  flex: 3.5;
  padding: 1rem;
  padding-top: 2rem;
  padding-right: 1.75rem;
  padding-left: 0;
  -webkit-mask: linear-gradient(#000 10%, #0000 85%);
  mask: linear-gradient(#000, #0000);
  background-color: 121212;
  border-top-right-radius: 5px;
  /* mix-blend-mode: hard-light; */
}

.pl-thumb-tracks div{
  margin-bottom: .25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pl-thumb-prompt-container{
  /* padding: 1rem; */
  background-color: #242424;
  border-left: 4px solid #242424;
  border-right: 4px solid #242424;
  font-size: .8rem;
}

.pl-thumb-stats-container{
  display: flex;
  background-color: #242424;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pl-prompt{
  background-color: #3c3c3c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
}

.pl-thumb-user-container{
  flex: 3;
  display: flex;
  justify-content: flex-start;
}

.pl-thumb-ellipsis-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  margin-right: 1.5rem;
}

.pl-thumb-ellipsis-container a{
  color: white
}

.pl-thumb-user-img{
  padding: 1rem;
  padding-left: 1.5rem;
}

.pl-thumb-user-name-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pl-thumb-prompt-content{
  margin-bottom: .4rem;
}

.pl-thumb-createdAt{
  font-size: .65rem;
}

.pl-thumb-user-name, .disc-thumb-user-name{
  display: flex;
  align-items: center;
  font-size: 1rem;
  /* color: var(--spotifyGreen); */
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.pl-thumb-user-name a, .disc-thumb-user-name a{
  color: white;
  border-bottom: 1px solid transparent
}

.pl-thumb-user-name a:hover{
  /* color: var(--spotifyGreen); */
  border-bottom: 1px dotted var(--spotifyGreen);
  /* transition: 0.25s */
}
.disc-thumb-user-name a:hover{
  border-bottom: 1px dotted gold;
  /* transition: 0.25s */
}

.pl-thumb-user-img img{
  width: 40px;
  border-radius: 50px;
  box-shadow: 0 0 .5rem .5rem rgba(0, 0, 0, 0.15);
}

.prof-thumb-user-img{
  width: 50px;
  border-radius: 50px;
  box-shadow: 0 0 .5rem .5rem rgba(0, 0, 0, 0.15);
  margin-right: 1rem;
}

.track-artist{
  color: var(--spotifyGreen);
}

.prompt-title{
  color: var(--spotifyGreen);
  font-weight: 500;
  margin-right: .25rem;
}

.prompt-content{
  font-family: 'Montserrat Alternates';
  font-style: italic;
}

.track-lineitem{
  font-size: .85rem;
}

/* .ellipsis-dropdown{
  display: flex;
  align-items: flex-start;
  border: 2px solid blue;
} */

.ellipsis-dropdown > li {
  float: right;
}

.ellipsis-dropdown button {
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

.ellipsis-dropdown button:hover,
.ellipsis-dropdown button:focus {
  outline: 0;
  text-decoration: underline;
}

.ellipsis-dropdown-content {
  display: none;
  position: absolute;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.ellipsis-dropdown button:focus + .ellipsis-dropdown-content,
.ellipsis-dropdown-content:hover {
  display: block;
}

.ellipsis-dropdown-content li{
  background-color: black;
  padding: .5rem;
  font-size: .85rem;
}

.ellipsis-dropdown-content li:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ellipsis-dropdown-content li:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ellipsis-dropdown-content a{
  color: red;
}

/* .ellipsis-dropdown-content li:last-child:hover{
  background-color: red;
  color: black;
} */

#remove-pro{
  color: red;
}

#remove-pro:hover{
  background-color: red;
  color: black;
}


.ellipsis-dropdown-content li:hover{
  background-color: var(--spotifyGreen)
}


.ellipsis-dropdown-content a{
  color: white;
}

.track-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.track-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.track-item input {
  margin-right: 0.5rem;
}

.track-item span {
  color: white;
}


/* PROFILE COMPONENTS*/

.prof-container{
  width: 75%;
}

.profstats-container{
  display: flex;
  border-left: 4px solid #242424;
  border-right: 4px solid #242424;
  background: #242424;
}

.profstats{
  flex: 2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #121212;
  padding: 1rem;
  padding-bottom: .5rem;
}

.profstats div{
  margin-bottom: .65rem;
}

#create-subheader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.prof-img{
  display: flex;
  flex: .8;
  /* padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem; */
  justify-content: center;
  border-top-right-radius: 5px;
  background-color: #121212;
  /* border: 1px solid blue; */
  padding: 1.5rem;
}

.prof-img img{
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.example-prompts-title-container{
  /* border: 1px solid blue; */
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--spotifyGreen);
}

.example-prompts-title {
  flex-grow: 1;
}

.info-icon-container {
  margin-right: 1.5rem;
  font-size: 20px;
  color: gold;
}

.info-icon-container:hover {
  color: white;
}

#create-example-prompts-container{
  width: 100%;
}

#create-example-prompts{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #121212;
  border-radius: 5px;
}

.prof-bottom-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  height: .4rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.discoverable-container{
  display: flex;
  margin-top: 0;
}

.discoverable-title{
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  /* text-shadow: 1px 1px 1px rgb(27, 111, 51); */
}

.discoverable-switch-container{
  display: flex;
  /* flex: 1; */
  padding-left: .5rem;
  align-items: flex-end;
}

.ios-switch{
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.prof-unlock-pro{
  margin-left: .25rem;
  margin-right: .25rem;
  color: gold;
}

.prof-free{
  margin-left: .25rem;
  margin-right: .25rem;
  color: lightgray;
}

.prof-unlock-pro a{
  color: gold;
}

.prof-unlock-pro a:hover{
  color: white;
  border-bottom: 1px dotted gold;
}

.cancelSub{
  font-size: .65rem;
}

.cancelSub:hover{
  cursor: pointer;
}

.prof-prompt{
  display: flex;
  justify-content: center;
  background-color: #3c3c3c;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
  width: 100%;
}

#prompt-input-container{
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-example-prompts-window{
  background-color: #121212;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border: 1px solid red; */
  padding: 0;
}

.try-again{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #242424;
  padding: 1rem;
  padding-top: 0;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  font-size: .7rem;
  font-style: italic;
  /* text-shadow: 1px 1px 1px rgb(5, 5, 5); */
}

.please-allow{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  color: #777777;
}

.aiplaylist-name-container{
  width: 100%;
  padding: 1.5rem;
  padding-right: 0;
  background-color: gold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
}

.aitracklist-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--spotifyGreen);
}

.aiplaylist-name-edit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
}

.aiplaylist-name-save{
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}

.playlist-new-button{
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-left: .5rem;
  border: 0;
  border-radius: 3px;
  /* background-color: #fff9df */
}

.prof-prompt-container{
  /* padding: 1rem; */
  background-color: #242424;
  border-left: 5px solid #242424;
  border-right: 5px solid #242424;
}

.prof-edit-info{
  font-size: .75rem;
}

.prof-edit-info a:hover{
  border-bottom: 1px dotted var(--spotifyGreen)
}

#prompt-input-container{
  padding: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Prompt input styles */
.prompt-input {
  width: 70%;
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #404040;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.prompt-input:focus {
  outline: none;
  border: 1px solid var(--spotifyGreen);
  /* box-shadow: 0 0 10px var(--spotifyGreen); */
}

.create-playlist-button {
  display: inline-block;
  white-space: normal;
  background-color: var(--spotifyGreen);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  margin-left: .75rem;
  margin-right: .75rem;
  cursor: pointer;
  width: 26%;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
}

.create-playlist-button:hover{
  background-color: gold;
  color: black;
}

.create-playlist-button:active{
  background-color: white;
}

.prompt-container {
  font-family: Arial, sans-serif;
  background-color: #212121;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.prompt-form {
  display: flex;
  margin-bottom: 10px;
}

.prompt-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  outline-color: var(--spotifyGreen);
}

.prompt-element {
  margin-bottom: 20px;
}

.styled-logout-button,
.playlist-button {
  background-color: transparent;
  color: var(--spotifyGreen);
  border: 1px solid var(--spotifyGreen);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

.styled-logout-button:hover,
.playlist-button:hover {
  background-color: var(--spotifyGreen);
  color: #000;
}

.playlist-button{
  box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.4);
}

#subscribe-now{
  margin-top: 1.5rem;
}

.track-list {
  list-style-type: none;
  padding: 0;
}

.track-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.track-checkbox {
  margin-right: 10px;
}

.track-info {
  flex-grow: 1;
}

/* Prompt input styles end */

/* Create Playlist Button */

/* Single playlist CSS*/

.playlist-button-container {
  position: fixed;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.playlist-button {
  padding: 10px 20px;
  background-color: #1DB954; 
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  /* transition: background-color 0.5s ease; */
  width: 400px;
  /* width: 30vw; */
  text-align: center;
  border: 0;
}

.playlist-button:hover {
  background-color: gold;
  border: 0;
}

.playlist-button:active{
  background-color: white;
}

/* Create Playlist Button end */

/* Playlist Styling */
.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 30px;
  width: 40vw;
  height: 35vh;
  margin-bottom: 1.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.playlist:hover {
  /* transform: scale(1.01); */
  box-shadow: 0 0 15px rgba(29, 185, 84, 0.3);
  cursor: pointer;
}

.playlist-art {
  width: 170px;
  height: 170px;
  border-radius: 3px;
  margin-bottom: 20px; /* Space between the art and the info */
}

.playlist-name {
  color: white;
  margin-bottom: .35rem;
  font-size: 1.5rem;
  text-shadow: 1px 1px 4px rgb(5, 5, 5);
}

.playlist-info {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align vertically */
  color: #B3B3B3;
  font-size: .9rem;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}

.user-name {
  font-size: 18px;
  margin-left: 10px; /* Space between the user profile picture and the user name */
}

.user-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .playlist {
    width: 80vw;
    height: auto;
  }

  .playlist-art {
    width: 120px;
    height: 120px;
  }

  .playlist-name {
    font-size: 1.2rem;
  }

  .user-name {
    font-size: 14px;
  }

  .user-profile-pic {
    width: 30px;
    height: 30px;
  }
}

#successful-alert{
  font-family: 'Lobster', cursive;
  color: gold;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
  text-shadow: 1px 1px 4px rgb(5, 5, 5);
  /* border-bottom: 1px dotted white; */

}
/* Single playlist CSS end*/



/* Home.js Playlist Grid*/

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .playlist-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Home.js Playlist Grid end*/


/* Loader.js Component */

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
}

.bars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  width: 100px;
  min-width: 100px;
  height: 50px;
  margin: 0 auto;
  /* z-index: 2; */
  position: relative;
  left: 0;
  right: 0;
}

.bar {
  width: 15px;
  height: 5px;
  margin: 0 2px;
  background-color: var(--spotifyGreen);
  border-top: 5px solid white;
  animation-name: dance;
  animation-duration: 450ms;
  animation-play-state: running;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes dance {
  from {
    height: 10px;
  }
  to {
    height: 100%;
  }
}


/* Loader.js Component end */


/* Track list lay out in Prompt.js file */

.outer-playlist-container{
  width: 100%;
  padding-left: 1rem;
  padding-bottom: .85rem;
}

.playlist-container {
  /* background-color: inherit; */
  /* padding: 20px; */
  width: 97.5%;
  margin-top: 20px;
  border-radius: 10px;
}

.playlist-name-form{
  display:inline;
}

.playlist-header {
  width: 50%;
  height: 24px;
  margin-left: .26rem;
  margin-right: .5rem;
  border: 0;
  border-radius: 3px;
  background-color: #fff9df;
  font-size: 1rem;
  padding-left: .25rem;
}

.playlist-header:focus{
  outline: none;
}

.playlist-item {
  background-color: #242424;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding: 20px;
  border: 1px solid transparent;
}

.playlist-item.selected {
  border: 1px solid var(--spotifyGreen)
}

.playlist-item-checkbox input[type="checkbox"] {
  margin-right: 5px;
}

.playlist-item:hover {
  cursor: pointer;
  border: 1px solid var(--spotifyGreen)
  /* color: gold */
}

.playlist-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.playlist-item-info {
  flex: 1;
  display: flex;
  justify-content: column;
  border: 2px solid transparent;
}

.playlist-item-checkbox {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-top: 5px;
}


.playlist-item-row {
  width: 100%;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Montserrat', sans-serif;
}

.playlist-item-title {
  font-weight: 500;
  font-size: 12px;
}

.playlist-item-artist {
  color: #777;
  font-size: 12px;
  margin-right: .35rem;
}

.playlist-checkmark {
  margin-left: auto;
  font-size: 12px;
}

.playlist-buttons-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.playlist-generate-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@keyframes wiggle {
  0% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  100% { transform: translateX(-5px); }
}

.wiggle-animation {
  animation: wiggle 0.5s ease-in-out infinite;
}

.playlist-back-button {
  background-color: var(--spotifyGreen);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: auto;
}

.playlist-back-button:hover{
  background-color: gold;
  color: black;
}

.playlist-generate-button {
  background-color: #777777;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* .playlist-generate-button:hover{
  color: black;
} */

.music-icon {
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: .75rem;
}

.playlist-generate-button:hover .music-icon {
  opacity: 1;
}

/* Error modal styling */

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modalContainer {
  width: 80%;
  max-width: 600px;
  background: #121212;
  padding: 30px;
  box-sizing: border-box;
  color: #1DB954;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-button {
  background: #1DB954;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

/* Error modal styling end */

/* Pop Up Window Styling */

.main-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}


.main-title {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
  background: linear-gradient(45deg, #FFFFFF, var(--spotifyGreen));
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 5s linear infinite;
  margin-bottom: 10px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title-separator {
  width: 100%;
  height: 3px;
  background-color: var(--spotifyGreen);
  margin-top: 10px; /* Add margin-top to separate the title and line */
  margin-bottom: 0; /* Remove the margin-bottom to eliminate extra space */
}
.info-icon {
  cursor: pointer;
  margin-left: 0.5rem;
  margin-left: auto;
  font-size: 30px;
}

.popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.popup-content {
  background-color: #242424;
  padding: 2rem;
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}

.popup-close {
  background-color: var(--spotifyGreen);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.popup-close:hover {
  color: #333;
}

.section {
  margin-bottom: 2rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
  position: relative;
  background-color: #242424;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  max-height: 200px; /* Adjust the value as needed */
  overflow-y: auto;
}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.section:hover::before {
  opacity: 1;
  color: gold;
}


.section h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  margin: 0;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.section:hover h3 {
  color: gold;
}

.section h3.active {
  background-color: #555;
}


.section p {
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 1rem 0;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-content p {
  margin: 1rem 0;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.section p {
  display: none; /* Hide the <p> elements by default */
}

.popup-section-content .section-title + p {
  display: block; /* Display the <p> element when its section is active */
}

/* Pop Up window styling end */


/* RE-SIZING */

@media screen and (max-width: 1450px) {

  .pl-thumb-name{
    font-size: 2.25rem;
  }

}

@media screen and (max-width: 1300px) {

  .pl-thumb{
    width: 60%;
  }

  #pl-container, #successfulpl-container{
    width: 100%;
  }

  .pro-option{
    width: 65%
  }

  .pl-thumb-name{
    font-size: 2rem;
  }

  .pl-thumb-tracks div{
    font-size: .8rem;
  }

}

@media screen and (max-width: 1225px) {

  .pl-thumb{
    width: 67.5%;
  }

}

@media screen and (max-width: 1150px) {

  .pl-thumb{
    width: 75%;
  }

  .pl-thumb-img{
    flex: 1;
  }

  .pl-thumb-tracks{
    flex: 3
  }

  .pro-option{
    width: 70%;
  }

}

@media screen and (max-width: 915px) {
  .pl-thumb{
    width: 85%;
  }

  .pro-option{
    width: 75%;
  }

  .options-title{
    font-size: 1.75rem;
  }
  
}

@media screen and (max-width: 800px) {

  .pro-option {
    font-size: .85rem;
  }
  
  .pl-thumb-name{
    font-size: 2rem;
  }
  
  .pro-option{
    width: 80%;
  }
  
}

@media screen and (max-width: 770px) {
  
  .pl-thumb-data-container{
    flex-direction: column;
  }

  .pl-thumb-tracks{
    flex: 1;
    padding-left: 1.75rem;
    padding-bottom: 2rem;
  }

  .pl-thumb-tracks div{
    font-size: .75rem;
  }

  .separator-container{
    display: flex;
  }

  .pl-thumb-name{
    font-size: 1.75rem;
  }
  
  .profstats div{
    font-size: .9rem;
  }
}

@media screen and (max-width: 650px) {
  .title{
    font-size: 3.15rem;
  }
  .pl-thumb-name{
    font-size: 1.5rem;
  }

  .toggle-button {
    width: 300px;
  }

  .playlist-button {
    width: 300px;
  }

  .discoverable-title{
    font-size: .9rem;
  }

  .example-prompts-title-container{
    font-size: 1.25rem;
  }

  .prompt-options{
    font-size: .8rem;
  }

  .pro-option{
    width: 85%;
  }

  .options-title{
    font-size: 1.5rem;
  }
  
}

@media screen and (max-width: 600px) {

.prompt-input {
  width: 60%;
}

.create-playlist-button {
  width: 33%;
}

}

@media screen and (max-width: 570px) {

  .pl-thumb-name{
    font-size: 1.25rem;
  }

  .pl-thumb-prompt-content{
    font-size: .7rem;
  }

  .profstats div{
    font-size: .8rem;
  }

  .discoverable-title{
    font-size: .8rem;
  }

  .options-title{
    font-size: 1.25rem;
  }

  .pro-option{
    font-size: .75rem;
  }
  
}

@media screen and (max-width: 500px) {
  .title{
    font-size: 3.15rem;
  }

  /* .pl-thumb-name{
    font-size: 1.1rem;
  } */

  .pl-thumb-tracks div{
    font-size: .7rem;
    max-width: 300px;
  }

  .pl-thumb-user-name, .disc-thumb-user-name{
    font-size: .8rem;
  }

  .profstats div{
    font-size: .7rem;
  }

  .discoverable-title{
    font-size: .7rem;
  }

  .prompt-options{
    font-size: .65rem;
  }
  
}


/* Add media query for small screens */
@media screen and (max-width: 600px) {
  .popup-window {
    width: 90%;
  }

  .popup-content {
    padding: 1rem;
  }

  .section {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    max-height: none;
  }
}

.main-title {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
  background: linear-gradient(45deg, #FFFFFF, var(--spotifyGreen));
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 5s linear infinite;
  margin-bottom: 10px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.info-icon {
  cursor: pointer;
  margin-left: 0.5rem;
  margin-left: auto;
  font-size: 30px;
}

.popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.popup-content {
  background-color: #242424;
  padding: 2rem;
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}

.popup-close {
  background-color: var(--spotifyGreen);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.popup-close:hover {
  color: #333;
}

.section {
  margin-bottom: 2rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
  position: relative;
  background-color: #242424;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  max-height: 200px; /* Adjust the value as needed */
  overflow-y: auto;
}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.section:hover::before {
  opacity: 1;
  color: gold;
}


.section h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  margin: 0;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.section:hover h3 {
  color: gold;
}

.section h3.active {
  background-color: #555;
}


.section p, .example-line {
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 1rem 0;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-content p {
  margin: 1rem 0;
}
